

.header-bg , .submit-section{
    background-color: #264653;
    
}

.gray-image{
    filter: grayscale(100%);
}
.fa-star , span{
    color:#E76F51;
}
.common-button{
    background-color: #E76F51;
   
}

.common-color-name{
    color: #23A6F0;
}
