body{
    margin: 0;
}
.header-bg{
    background-color: #264653;
    
}
main{
    /* width: 90%; */
}
.gray-image{
    filter: grayscale(100%);
}
.fa-star{
    color:#E76F51;
}
/* .nigro-lady img{
   height: 100%;
} */
